body {
	padding: 0;
	margin: 0;
	background-image: url(images/fond.jpg);
}
footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border:solid #F6CED8 1px;
	margin-top: 5px;
	padding-right: 7px;
	padding-left: 7px;
	background-color: white;
	height: 155px;
	border-radius: 5px 5px 5px 5px;
	font-size: 1.1em;
	text-align: center;
}
div strong
{
	text-transform: uppercase;
}
.un
{
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	border: solid 1px #F6CED8;
	border-radius: 4px 4px 4px 4px;
	background-color: #ffffff;
	position: center;
	margin-top: 106px;
	padding: 20px;
	max-width: 100%;
}
.deux
{
	display: flex;
	flex-direction: row;
	margin-right: 15px;
	padding-right: 15px;
	border-bottom: solid 1px black;
	max-width: 100%;
	font-size: 1.1em;
	color: #000000;
	text-align: justify;
}
.deux img
{
	margin-right: 60px;
}
.deux a
{
	text-decoration: none;
	color: #ffffff;
}
input.ajout-panier
{
	width: 120px;
	height: 29px;
	border-radius: 3px 3px 3px 3px;

}
#quantite
{
	width: 120px;
	height: 22px;
	border-radius: 1px 1px 1px 1px;
}
#quantite1
{
	width: 120px;
	height: 22px;
	border-radius: 1px 1px 1px 1px;
}
#quantite2
{
	width: 120px;
	height: 22px;
	border-radius: 1px 1px 1px 1px;
}
#quantite3
{
	width: 120px;
	height: 22px;
	border-radius: 1px 1px 1px 1px;
}
nav 
{
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: black;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#menu
{
	display:none;
}
nav .icon-menu {
	
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-menu .line {
	width: 30px;
	height: 3px;
	border: white 1px solid;
	background-color: white;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
	display: none;
}

@media screen and (max-width: 768px) {
	  footer
  {
    height: 180px;
  }
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-menu {
		display: block;
	}
	nav .icon-menu .line
	{
		display: block;
	}
	nav :checked ~ .icon-menu .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-menu .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-menu .line:nth-child(2) {
		opacity: 0;
	}
	
}